.btn-login {
    transition: background-color 0.3s ease;
    border-color: #EB6613;
    color: #EB6613;
    margin-left: 5px;
    padding: 0.375rem 1.5rem;
    font-weight: bold;
    text-align: center;
}

.btn-login:hover {
    background-color: #EB6613;
    border-color: #EB6613;
    color: #fff; /* Cambia el color del texto cuando se pasa el cursor sobre el botón */
}

.btn-register {
    transition: background-color 0.3s ease;
    border-color: #EB6613;
    color: #EB6613;
    margin-left: 5px;
    padding: 0.375rem 1.5rem;
    font-weight: bold;
    text-align: center;
}

.btn-register:hover {
    background-color: #EB6613;
    border-color: #EB6613;
    color: #fff; /* Cambia el color del texto cuando se pasa el cursor sobre el botón */
}