*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-blue: #b3a890;
    --mid-blue: #bcbec0;
    --blue: #b15129;
    --blue-2: #dce4f1;
    --blue-3: #ff8b38;
    --white: #ffffff;
    --letters: #111;
    --noEventBtn: #136C33;
}

form * {
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

#login {
    background-color: var(--white);
}

#background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#background #shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

#shape:first-child {
    background: linear-gradient(var(--blue), var(--blue-3));
    left: -130px;
    top: -60px;
}

#shape:last-child {
    background: linear-gradient(to right, #82cc38, #2b803f);
    right: -130px;
    bottom: -80px;
}

#login-form {
    height: 600px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

#logo h1 {
    font-size: 26px;
    padding: 0 0 0 8px;
    margin: 8px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    border-left: 8px solid var(--blue);
    text-align: left;
}

#logo h1 a,
#logo h1 a:hover {
    color: #545454;
    text-decoration: none;
}

#logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

#img-centrada {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 55%;
    height: auto;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

body {
    margin-bottom: 100px; /* Ajusta este valor según sea necesario */
}

footer {
    position: fixed; /* Fija el footer en la parte inferior de la ventana */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Color de fondo del footer */
    color: white; /* Color del texto del footer */
    text-align: center; /* Alinea el texto al centro */
    padding: 10px 0; /* Añade un relleno interno al footer */
}

.linkboton {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    margin-left: 14%;
    margin-top: 16px;
}

#link2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    margin-left: 23%;
    margin-top: 26px;
}

input {
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #88a;
    opacity: 0.7;
    font-style: italic;
}

.social {
    margin-top: 30px;
    display: flex;
}

.social div {
    background: #2f8042;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #333;
    text-align: center;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
    border: 1px #cfdfff solid;
}

.go {
    border: 1px #cfdfff solid;
    bottom: 100px;
    margin-left: 100px;
}

.social i {
    margin-right: 4px;
}

#username,
#password {
    border: 1px var(--blue-2) solid;
    border-radius: 7px;
    margin-bottom: 8px;
}

#btnLogin {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: var(--white);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    margin-bottom: 30px;
}

#btnLogin:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

#btnLogin:hover {
    color: #e8e8e8;
    background-color: var(--noEventBtn);
}

.go:hover {
    background-color: rgba(4, 215, 255, 0.47);
}

#logo h1 {
    font-size: 26px;
    padding: 0 0 0 8px;
    margin: 8px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    border-left: 8px solid var(--blue);
    text-align: left;
}

#logo h1 a,
#logo h1 a:hover {
    color: #545454;
    text-decoration: none;
}

#logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

#img-centrada {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 55%;
    height: auto;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.col.direccion {
    right: 10px;
    width: 70%;
}
