
.container-1 {
  display: flex;
  flex-wrap: wrap; /* Asegura que los elementos se envuelvan en pantallas pequeñas */
}

.home-page-container {
  display: flex;
  padding: 30px;
  border-radius: 20px;
  background-color: lavender;
  margin-top: 40px;
  margin-right: 20px; 
  margin-left: 30px; 
  max-width: 45%; /* Establece un ancho máximo para el contenedor */
}
.home-page-text-container {
  text-align: right; 
  margin-right: 8px;
}

/* Estilos del título principal */
.home-page-title {
  font-family: 'Yeseva One', sans-serif; 
  font-size: clamp(3.5vw, 3.5vw, 5.3rem); 
  line-height: 1.1; 
  color: #33784a;
  margin-bottom: 2vw; 
  font-weight: bold; 
}

/*Estilos del párrafo principal */
.home-page-description {
  font-family: 'Montserrat', sans-serif; 
  font-size: clamp(1.7vw, 1.7vw, 1.5rem); 
  line-height: 1.5; 
  color: #828282;
  margin-bottom: 2vw; 
}

/* Estilos botón principal */
.home-page-button {
  display: inline-block; /* Cambiado a inline-block para permitir el ajuste del ancho */
  padding: 1.1vw 2.5vw; /* Ajusta el relleno del botón en función del tamaño de la pantalla */
  border-radius: 2rem; /* Redondea los bordes del botón */
  font-size: clamp(0.8rem, 1.5vw, 1.3rem); /* Ajusta el tamaño de la fuente del botón según el ancho de la pantalla */
  font-weight: 500;
  color: white;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background: #EB6613;
  margin: 0 auto;
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */

  /* Animación al pasar el cursor */
  animation: pulse 1s infinite alternate; 
}

/* Definición de la animación 'pulse' */
@keyframes pulse {
  from {
    transform: scale(0.85); /* Escala normal */
  }
  to {
    transform: scale(0.9); /* Escala aumentada */
  }
}

/* Cambio de color al pasar el cursor */
.home-page-button:hover {
  background-color: #a7845f; /* Cambia el color de fondo al pasar el cursor */
}


.home-image-section {
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
  margin-left: 30px; 
  max-width: 45%;
}


.home-banner-image {
  max-width: 100%; /* Asegura que la imagen se ajuste al contenedor */
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

/* Consultas de medios para responsividad */
@media (max-width: 768px) {
  .container-1 {
    flex-direction: column; /* Apila los elementos en pantallas pequeñas */
  }

  .home-page-container,
  .home-image-section {
    margin: 20px auto; /* Centra los contenedores en pantallas pequeñas */
    width: 90%; /* Ajusta el ancho de los contenedores en pantallas pequeñas */
    max-width: 500px; /* Limita el ancho máximo de los contenedores en pantallas pequeñas */
  }
}

/* Animación de fondo */
.container-1 {
  background-image: linear-gradient(to bottom, #a9d4ab, #dccdb5); /* Gradiente de fondo */
  animation: backgroundAnimation 5s linear infinite; /* Animación de desplazamiento suave */
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%; /* Posición inicial del fondo */
  }
  100% {
    background-position: 90% 50%; /* Posición final del fondo */
  }
}

/* Animación de desplazamiento */
.home-page-container, .home-image-section {
  opacity: 1; /* Oculta los elementos al principio */
  transition: opacity 0.5s ease; /* Transiciones suaves */
}

.container-1.in-view .home-page-container, .container-1.in-view .home-image-section {
  opacity: 1; /* Muestra los elementos cuando están en la vista */
}


/* Estilos para el contenedor Acerca */
.container-2 {
  display: flex;
  flex-wrap: wrap; 
}

.home-page-container-2 {
  flex: 1;
  padding: 30px;
  border-radius: 20px;
  background-color: lavender;
  margin-top: 70px;
  margin-right: 20px; 
  margin-left: 20px; 
  margin-bottom: 30px;
  max-width: 45%; 
}

.home-page-text-container-2 {
  text-align: left; 
}

/* Título del 2do contenedor */
.home-page-title-2 {
  font-family: 'Yeseva One', sans-serif; 
  font-size: clamp(3.5vw, 3.5vw, 5.3rem); 
  line-height: 1.1; 
  color: #d25925;
  margin-bottom: 2vw; 
  font-weight: bold; 
} 

/* Texto del contenedor 2*/
.home-page-description-2 {
  font-family: 'Montserrat', sans-serif; 
  font-size: clamp(1.7vw, 1.7vw, 1.5rem);
  line-height: 1.5;
  color: #828282;
  margin-bottom: 2vw;
}

/* Botón 2 */
.home-page-button-2 {
  display: inline-block; /* Cambiado a inline-block para permitir el ajuste del ancho */
  padding: 1.1vw 2.5vw; /* Ajusta el relleno del botón en función del tamaño de la pantalla */
  border-radius: 2rem; /* Redondea los bordes del botón */
  font-size: clamp(0.8rem, 1.5vw, 1.3rem); /* Ajusta el tamaño de la fuente del botón según el ancho de la pantalla */
  font-weight: 500;
  color: white;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background: #EB6613;
  margin: 0 auto;
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  

  /* Animación al pasar el cursor */
  animation: pulse 1s infinite alternate; /* Aplica la animación 'pulse' de 1 segundo de duración, infinitamente y de manera alternada */
}

/* Definición de la animación 'pulse' */
@keyframes pulse {
  from {
    transform: scale(0.85); /* Escala normal */
  }
  to {
    transform: scale(0.9); /* Escala aumentada */
  }
}

/* Cambio de color al pasar el cursor */
.home-page-button-2:hover {
  background-color: #a7845f; /* Cambia el color de fondo al pasar el cursor */
}


.home-image-section-2 {
  flex: 1;
  display: flex;
  justify-content: flex-start; /* Alinea la imagen a la izquierda */
  align-items: center;
  margin-top: 40px;
  margin-left: 60px; /* Añade un margen entre los contenedores */
  max-width: 45%; /* Establece un ancho máximo para el contenedor */
}

.home-banner-image-2 {
  max-width: 100%; /* Asegura que la imagen se ajuste al contenedor */
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

/* Consultas de medios para responsividad */
@media (max-width: 750px) {
  .container-2 {
    flex-direction: column; 
  }

  .home-page-container-2,
  .home-image-section-2 {
    margin: 20px auto;
    width: 90%; 
    max-width: 500px;
  }

  .home-page-text-container-2 {
    text-align: center; /* Alinea el texto al centro en pantallas pequeñas */
  }

  .home-image-section-2 {
    justify-content: center; /* Alinea la imagen al centro en pantallas pequeñas */
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
  }
}

/* Animación de fondo */
.container-2 {
  background-image: linear-gradient(to bottom, #dccdb5, #a9d4ab); /* Gradiente de fondo */
  animation: backgroundAnimation 5s linear infinite; /* Animación de desplazamiento suave */
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%; /* Posición inicial del fondo */
  }
  100% {
    background-position: 90% 50%; /* Posición final del fondo */
  }
}

/* Animación de desplazamiento */
.home-page-container-2, .home-image-section-2 {
  opacity: 1; /* Oculta los elementos al principio */
  transition: opacity 0.5s ease; /* Transiciones suaves */
}

.container-2.in-view .home-page-container-2, .container-2.in-view .home-image-section-2 {
  opacity: 1; /* Muestra los elementos cuando están en la vista */
}



/*----------------- Estilos para el apartado Beneficios ---------------------------*/
.beneficios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw 0; /* Utilizamos vw para el padding en lugar de rem */
  background-color: #EAF2E8; /* Asegúrate de utilizar el formato correcto de color (#) */
  width: 90%; /* Utilizamos porcentaje (%) para el ancho */
  max-width: 1000px;
  /* height: 830px; Quitamos la altura fija */
  margin: 150px auto; /* Centramos el contenedor vertical y horizontalmente */
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(16, 15, 15, 0.1);
  overflow: hidden; /* Contener imágenes que sobresalen */
}

/* Consultas de medios para responsividad */
@media (max-width: 768px) {
  .beneficios-container {
    padding: 5vw 0; /* Ajustamos el padding para pantallas pequeñas */
    margin-top: 100px; /* Ajustamos el margen superior */
  }
}

/* Animación de fondo */
.beneficios-container {
  background-image: linear-gradient(to bottom, #dccdb5, #a9d4ab); /* Gradiente de fondo */
  animation: backgroundAnimation 5s linear infinite; /* Animación de desplazamiento suave */
  
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%; /* Posición inicial del fondo */
  }
  100% {
    background-position: 90% 50%; /* Posición final del fondo */
  }
}

.beneficios-titulo {
  font-family: 'Yeseva One, cursive';
  font-size: 2.2rem;
  font-weight: 650;
  text-align: center;
  margin-bottom: 2rem;
  color: #4e46469a; 
}

.beneficios-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px; /* Adjusted max-width for items */
}

.beneficio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  margin-top: 5px;
  width: 250px; /* Reduced item width */
  height: 260px; /* Added height to match width */
  padding: 2rem;
  background-color: #EAF2E8; /* Light green */
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.2s;
  border: none; /* Removed border */
}

.beneficio-item:hover {
  box-shadow: 0 0 10px rgba(216, 146, 16, 0.473);
  transform: translateY(-5px); /* Efecto al pasar el mouse */
}

.beneficio-item img {
  width: 70px; /* Reduced image size */
  height: 70px;
  margin-bottom: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.beneficio-item h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem; /* Reduced heading size */
  font-weight: 600;
  color: #82B15A; /* Green text */
  margin: 0;
}

.beneficio-item p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem; /* Reduced paragraph size */
  font-weight: 400;
  color: #666; /* Lighter text */
  line-height: 1.3;
  margin-top: 1rem;
}

.beneficios-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin-top: 2rem;
  width: 300px;
  height: 50px;
  line-height: 15px;
  background-color: #82B15A;
  border: 2px solid #82B15A;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  text-align: center;
}

.beneficios-boton:hover {
  background-color: #d7540b; /* Tono más oscuro al pasar el mouse */
}
/*
@media (max-width: 768px) {
  .beneficios-container {
    width: 90%;
  }

  .beneficio-item {
    width: 200px;
    height: 200px;
  }

  /* Ajustes adicionales para móviles 
  .beneficios-titulo {
    font-size: 1.8rem;
  }

  .beneficio-item h3 {
    font-size: 1.4rem;
  }

  .beneficio-item p {
    font-size: 1.2rem;
  }

  .beneficios-boton {
    width: 180px;
    font-size: 1.2rem;
  }
}
*/
/* Ajustes adicionales para una mejor visualización en móviles */
@media (max-width: 480px) {
  .beneficios-lista {
    flex-direction: column;
  }

  .beneficio-item {
    margin: 0.5rem;
  }
}
/*Productos Vista V1*/
.productos-vista {
  margin: 2rem 0;
  background-color: #F5F5F5; /* Color de fondo */
  padding: 1rem;
  border-radius: 10px; /* Bordes redondeados 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.titulo-ProductosVista{
  font-family: 'Lexend , sans-serif ' ;
  font-size: 2.9rem;
  font-weight: 600;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: #39884d; /* Color del título */

}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.producto-item {
  border: none; /* Elimina el borde por defecto */
  padding: 1rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.producto-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px); /* Efecto al pasar el mouse */
}

.producto-imagen {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.producto-nombre {
  font-family: 'Lexend', sans-serif; 
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #39884d; 
  text-decoration: none;

}

.producto-descripcion {
  font-family: 'Lexend', sans-serif; 
  font-size: 0.9rem;
  margin: 0.5rem 0;
  color: #666; 
}

.producto-precio {
  font-family: 'Lexend', sans-serif; 
  font-size: 1.1rem;
  font-weight: bold;
  color: #EB6613; /* Color del precio */
}

@media (min-width: 768px) {
  .productos-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}


